{%extends 'admin/base.html'%}
{%block title%}
    Login Page
{%endblock%}
{%block content%}
    {%with messages = get_flashed_messages()%}
        {%if messages%}
            {%for msg in messages%}
                <p>{{msg}}</p>
            {%endfor%}
        {%endif%}
    {%endwith%}
    <form action="#" method="post">
        username: <p><input type="text" name="username"></p>
        password: <p><input type="password" name="password"></p>
        <input type="submit" value="submit">
    </form>
{%endblock%}