{%extends "admin/base.html"%}
{%block title%}View{%endblock%}
{%block content%}
    {%for item in values%}
        <p>{{item.id}} Name: {{item.name}}, Email: {{item.email}}, Sex: {{item.sex}}</p>
        <div class="container">
            <div class="row">
                {%for img in images%}
                    {%if img.user_id == item.id%}
                        <div class="col-md-4 mb-4">
                            <img src="{{img.img}}" alt="{{img.filename}}" class="img-fluid" width="64" height="64">
                        </div>
                    {%endif%}
                {%endfor%}
            </div>
        </div>
    {%endfor%}
{%endblock%}