{%extends "user/base.html"%}
{%block title%}Settings{%endblock%}
{%block content%}
    <p>
        <h1>Chats:</h1>
    </p>
    {%with messages = get_flashed_messages()%}
        {%if messages%}
            {%for msg in messages%}
                <p>{{msg}}</p>
            {%endfor%}
        {%endif%}
    {%endwith%}
    {%if ms%}
        <form action="#" method="post">
            <div class="container">
                <div class="row">
                    {%for m in ms%}
                        <div class="col-md-4 mb-4">
                            {%if m.user_one.name == name%}
                                <p>{{m.user_two.name}}</p>
                            {%else%}
                                <p>{{m.user_one.name}}</p>
                            {%endif%}
                            <p>
                                <button type="submit" value="match_chat.{{m.id}}" name="submit">CHAT</button>
                            </p>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </form>
    {%endif%}
{%endblock%}